<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/elerhetoseg.css">
    <title>Elérhetőségeink</title>
</head>
<body>
    <div class="main">Elérhetőségeink</div>
    <div class="contact-container">
    <img  class="kep" src="../images/heble.jpg" alt="contact">
    <div class="contact">   
        <div class="contact-info">
            <p><strong>Szabadi Péter:</strong> 0630 784 38 45</p>
            <p><strong>Jaloveczki Gábor:</strong> 0670 367 16 45</p>
            </div>
        </div>
    </div>
    <button onclick="window.location.href='../view/geoagrodrone.html'" class="btn">Vissza a főoldalra</button>

</body>
</html>

