<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/geo.css">
    <title>GeoAgroDrone</title>
    
</head>
<body>
    <div class="header">Készüljünk együtt az idei szezonra!</div>
    <div class="main">Üdvözöljük!</div>
    <div class="buttons">
        <a href="../view/rolunk.html" class="button" >Rólunk</a>
        <a href="../view/referenciak.html" class="button">Referenciáink</a>
        <a href="../view/szolgaltatasok.html" class="button">Szolgáltatások</a>
        <a href="../view/elerhetoseg.html" class="button">Elérhetőségeink</a>
    </div>
    <div class="image-container">
        <img src="../images/tree.png" alt="Háttérkép">
        <div class="overlay">
            <a href="gepeink.html" class="section1">Gépeink</a>
            <a href="szakemberek.html" class="section2">Szakembereink</a>
        </div>
    </div>
</body>
</html>
