<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/gepeink.css">
    <title>Gépeink</title>
</head>
<body>
    <div class="main">Gépeink</div>
    <div class="service-container">
        <div class="service-box">
            <img src="../images/tr1.jpg">
            <h2>John Deere 9570R (2369 üzemórás)</h2>
            <p>18/6 Powershift 40 km/h váltó, 8 db kerék, SF3000 AutoTrac, 5 pár hidraulikakör, teljes keréksúlyozás, LED, Motorteljesítmény: 570 LE, Évjárat: 2017, Motor üzemóra: 2369</p>
            <p>9 250 Ft + áfa / üzemórától</p>
            <button>Bérelhető</button>
        </div>

        <div class="service-box">
            <img src="../images/tr2.jpg" >
            <h2>John Deere 9460R (3616 üzemórás)</h2>
            <p>18/6 Powershift 40 km/h, JD aktív ülés, AutoTrac ready, 900/60R38 gumizás, Xenon, 3-pont hidraulika, Motorteljesítmény: 460 LE, Évjárat: 2014, Motor üzemóra: 3616</p>
            <p>9 250 Ft + áfa / üzemórától</p>

            <button>Bérelhető</button>
        </div>

        <div class="service-box">
            <img src="../images/tr3.jpg" >
            <h2>John Deere 8RX 410 (727 üzemórás)</h2>
            <p>e23 Powershift 40 km/h váltó, rugózott fülke, SF7000 AutoTrac, 318 L szivattyú, LED, 610+762 mm hevederek, Motorteljesítmény: 410 LE (maximum 458 LE), Évjárat: 2023, Motor üzemóra: 727</p>
            <p>9 250 Ft + áfa / üzemórától</p>

            <button>Bérelhető</button>
        </div>

        <div class="service-box">
            <img src="../images/tr4.jpg" >
            <h2>John Deere 7R 290 (1428 üzemórás)</h2>
            <p>AutoPowr IVT 50 km/h váltó, rugózott híd, Active Seat II, SF6000 AutoTrac, légfék, Trelleborg gumizás, LED, Motorteljesítmény: 290 LE (maximum 332 LE), Évjárat: 2021/2022, Motor üzemóra: 1428</p>
            <p>9 250 Ft + áfa / üzemórától</p>

            <button>Bérelhető</button>
        </div>

        <div class="service-box">
            <img src="../images/tr5.jpg">
            <h2>John Deere 7R 290 (1428 üzemórás)</h2>
            <p>AutoPowr IVT 50 km/h váltó, rugózott híd, Active Seat II, SF6000 AutoTrac, légfék, Trelleborg gumizás, LED, Motorteljesítmény: 290 LE (maximum 332 LE), Évjárat: 2021/2022, Motor üzemóra: 1428</p>
            <p>9 250 Ft + áfa / üzemórától</p>

            <button>Bérelhető</button>
        </div>
    </div>
    <button onclick="window.location.href='../view/geoagrodrone.html'" class="btn">Vissza a főoldalra</button>
</body>
</html>