<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/rolunk.css">
    <title>Rólunk</title>
</head>
<body>
    <div class="main">Rólunk</div>
   <div class="abtus">
    <p>A 2001-ben alapított cégünk jelenleg két szárító és egy feldolgozó üzemben folytatja tevékenységét, ahol kiemelt figyelmet fordítunk a paprikamalom, zöldségdarálók és gőzsterilizálóból kikerült termékek minőségére. Minőségbiztosítási eljárásaink garantálják, hogy termékeink megfelelnek partnereink legszigorúbb elvárásainak is.

        A HFI Kft. élen jár a magyarországi BIO termelés ösztönzésében, folyamatos támogatást biztosítva a termelőknek. BIO termékeink bevizsgálását minden esetben akkreditált németországi laboratóriumok végzik.</p>
        
        <p>Fő tevékenységeink közé tartozik a [növénytermesztés/állattenyésztés/biogazdálkodás stb.], ahol kiemelt figyelmet fordítunk a környezetbarát módszerekre és a fenntarthatóságra. Csapatunk tapasztalt agrárszakemberekből, mérnökökből és gazdálkodókból áll, akik szenvedélyesen dolgoznak azért, hogy ügyfeleink számára kiváló minőségű termékeket és szolgáltatásokat biztosítsanak.</p>
        
        <p>Célunk, hogy hozzájáruljunk a hazai és nemzetközi mezőgazdaság fejlődéséhez, miközben ügyfeleink és partnereink számára megbízható, innovatív megoldásokat kínálunk. Legyen szó termelésről, tanácsadásról vagy fejlesztésről, nálunk mindig a minőség és a szakértelem áll a középpontban.</p>
   </div> 
   <div>
    <img class="kep" src="../images/workers.png" alt="contact">
   </div>
   <button onclick="window.location.href='../view/geoagrodrone.html'" class="btn">Vissza a főoldalra</button>
</body>
</html>