<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/szakemberek.css">
    <title>Szakembereink</title>
</head>
<body>
  
    <div class="main">Szakembereink</div>
    <div class="cardiB">  
      <div class="gallery">       
          <img src="../images/worker1.png" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">Pál Kata Péter</div>
        <p>Mezőgazdasági gépszerelő, géplakatos</p>
      </div>
      
      <div class="gallery">       
          <img src="../images/worker2.png" alt="Forest" width="600" height="400">
        </a>
        <div class="desc">Gulbahar Ravi</div>
        <p> Mezőgazdasági gépszerelő / Autószerelő </p>
      </div>
      
      <div class="gallery">        
          <img src="../images/worker3.png" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc"> Ivor Ronan</div>
        <p>Karbantaró</p>
      </div>
      
      <div class="gallery">       
          <img src="../images/worker4.png" alt="Mountains" width="600" height="400">
        </a>
        <div class="desc">Cahaya Musa</div>
        <p> Gépkezelő</p>
      </div>
  </div>
  <button onclick="window.location.href='../view/geoagrodrone.html'" class="btn">Vissza a főoldalra</button>
</body>
</html>