<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/szolgaltatasaink.css">
    <title>Szolgáltatásaink</title>
</head>
<body>
    <div class="main">Szolgáltatásaink</div>
    <div class="service-container">
        <div class="service-box">
            <img src="../images/plant.png" alt="Növényállapot felmérés">
            <h2>Növényállapot felmérés</h2>
            <p>Stressztérkép, NDVI térkép</p>
            <button>Árak</button>
        </div>

        <div class="service-box">
            <img src="../images/damage.png" alt="Kárfelmérés">
            <h2>Kárfelmérés</h2>
            <p>pl.: vadkár, belvíz</p>
            <button>Árak</button>
        </div>
    </div>
    <button onclick="window.location.href='../view/geoagrodrone.html'" class="btn">Vissza a főoldalra</button>
</body>
</html>