body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #ddd3b2;
}

.btn{
  width: 150px;
  height: 50px;
  background-color: #b08f8f;
}

.main {
  background-image: url("../images/buza.jpg");
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(136, 112, 76);
  font-size: 52px;
  font-weight: bold;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
.cardiB {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 50px auto;
  width: 80%;
}